      body {
            background: grey;
      }
      /****** after_submit div will be initially hidden *******/
      #after_submit{
        visibility: hidden;
      }
      
      /******** centers all content ****/
      h1{
      	text-align: center;
      }

      #quiz{
      	text-align: center;
      }
      #container{
      	text-align: center;
      }

      #show-number{
      	text-align: center;
      }